# Application
PORT=3000
FRONTEND_URL=http://localhost:5173

# Azure SQL
DB_SERVER=
DB_PORT=1433
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Azure SQL connection security
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false

# TypeORM
DB_SYNCHRONIZE=false
DB_LOGGING=false
