# Application
PORT=3000
FRONTEND_URL=http://localhost:5173

# Gabo - Azure SQL
GABO_DB_SERVER=
GABO_DB_PORT=1433
GABO_DB_DATABASE=
GABO_DB_USER=
GABO_DB_PASSWORD=

# Azure SQL connection security
GABO_DB_ENCRYPT=true
GABO_DB_TRUST_SERVER_CERTIFICATE=false

# TypeORM
GABO_DB_SYNCHRONIZE=false
GABO_DB_LOGGING=false
